<!-- code for Lander page and random companies down the header and lander -->
<html>
    <head></head>
    <body>
        <div class="lander">
            <h2>your future vision our unknown expeditions. </h2>
        </div>
        <div class="container">
            <div *ngFor="let company of companyArray" class="card" >
                <a [(ng-model)]="company._id" routerLink="company/{{company.name}}" (click)="onSelectedCompany(company._id)"><img src="{{company.imageLink}}" alt="{{company.name}}" ></a>
            </div>
        </div>
    </body>
</html>

<!-- code for lander.component.ts -->

export class LanderComponent implements OnInit{
    constructor( private http: HttpClient, private global: CompanyService){}
        companyArray: any
        ngOnInit(){
            this.http.get('http://localhost:3000/lander')
                .subscribe(res=>{
                    this.companyArray = res;
                })
        }
        onSelectedCompany(id: any){
            this.global.change(id);
        }
}
