<!-- code for displaying service based companies and we can sort them based on rating, ranking and viewcount -->

    <body>
        <div class="wrapper">
            <div class="tag">
                <h2>Service Based Companies</h2>
            </div>
            <div class="sort">
                <div class="tag">
                    <h4>SortBy :</h4>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">{{sortby}}&nbsp;&nbsp;<span><i class="fa fa-caret-down"></i></span></button>
                    <div class="dropdown-content">
                        <a class="links" (click)="onSelected('ranking')" routerLink="/serviceBased">ranking</a>
                        <a class="links" (click)="onSelected('rating')" routerLink="/serviceBased">rating</a>
                        <a class="links" (click)="onSelected('view-count')" routerLink="/serviceBased">view-count</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div *ngFor="let service of serviceArray" class="card">
                <!-- <a href="http://localhost:3000/serviceBased/{{service._id}}"><img src="{{service.imageLink}}" alt="{{service.name}}"></a> -->
                <a [(ng-model)]="service._id" routerLink="/company/{{service.name}}" (click)="onSelectedService(service._id)"><img src="{{service.imageLink}}" alt="{{service.name}}"></a>
            </div>`
        </div>
    </body>

<!-- code for service-based.component.ts -->

sortby: string = 'ranking';
  serviceArray: any
  _id: any;
  constructor(private http: HttpClient, private global: CompanyService) { }
  ngOnInit(): void {
    const purl = 'http://localhost:3000/pBased';
    this.http.get(purl).subscribe((res)=>{
      this.serviceArray = res;
      console.log(this.productArray[0]._id)
    })
  }
  onSelected(status: string){
    this.sortby = status;
  }
  onSelectedService(_id: any){
    this.global.change(_id);
    console.log("SELECTED")
